@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

.container {
  border: #e0e0e0 0.1rem solid;
  width: 55rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
}

form {
  width: 32rem;
  display: flex;
  flex-direction: column;
}

div.logo > img {
  height: 50px;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  width: 40rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  height: 2.5rem;
  width: 15rem;
  padding: 0.5rem;
  outline: #e0e0e0 0.09rem solid;
  border: 0px;
  border-radius: 0.4rem;
  margin: 0rem 0.25rem 2rem 0rem;
}

input:invalid {
  outline: red 0.09rem solid;
}

input:focus {
  outline: #1a73e8 0.1rem solid;
  border: 0px;
}

.mail {
  position: relative;
}

.mailTemplate {
  padding: 0.5rem;
  top: 0.08rem;
  right: 1.5rem;
  position: absolute;
}

.mailMessage {
  font-size: 0.8rem;
  color: #8e8d8d;
  margin: 0.1rem 0rem 2rem 0.5rem;
}

input#mail {
  width: 30.5rem;
  margin: 0rem 0rem 0rem 0rem;
}

input#psw,
input#pswCon {
  margin: 0rem 0.25rem 0rem 0rem;
}

.pswMessage {
  font-size: 0.8rem;
  color: #8e8d8d;
  margin: 0.1rem 0rem 2rem 0.5rem;
}

button {
  appearance: none;
  background-color: #1a73e8;
  color: #fff;
  font-weight: 800;
  border: 0;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 10rem;
}

div.sideimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5.5rem;
}

div.sideimage > img {
  height: 250px;
}

div.sideimage > p {
  width: 13rem;
  text-align: center;
}
